@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --scout-royal-purple: #784CCC;
  --scout-royal-purple-dark: #523588;
  --scout-royal-purple-fade: rgba(120, 76, 204, 0.20);
  --scout-periwinkle: #6071F8;
  --scout-navy: #262242;
  --scout-grey: #A0A7E0;
  --scout-font-family-base: 'Helvetica', 'Arial', sans-serif;
  --scout-font-family-code: 'Inconsolata', monospace;
}

/* Pop-up */

body {
  margin: 0;
}

.scout-qa--popup {
  min-width: 338px;
  width: 100%;
  display: inline-block;
}

.scout-qa--header {
  background-color: var(--scout-royal-purple);
  box-sizing: border-box;
  padding: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scout-qa--body {
  padding: 24px;
  background-color: var(--scout-navy);
}

.scout-qa--description {
  font-family: var(--scout-font-family-code);
  color: var(--scout-grey);
  font-size: 16px;
}

.scout-qa--description span {
  color: white;
}

.scout-qa--logo {
  margin-left: 8px;
}

.scout-qa--toggle {
  display: inline-flex;
  cursor: pointer;
  color: white;
  font-family: var(--scout-font-family-base);
  font-size: 11px;
}

.scout-qa--toggle {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 35px;
}

.scout-qa--toggle-slider {
  background-color: var(--scout-grey);
  border: 1px solid var(--scout-royal-purple-dark);
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.scout-qa--toggle-slider::before {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  content: url("../svg/binoculars.svg");
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  left: 2px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .scout-qa--toggle-slider {
  background-color: var(--scout-periwinkle);
  justify-content: flex-start;
}

input:checked + .scout-qa--toggle-slider::before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}



/* Highlighter */

.scout-qa--highlight {
  transition: background-color .1s !important;
  -webkit-transition: background-color .1s !important;
  background-color: var(--scout-royal-purple-fade) !important;
  color: black !important;
  position: relative !important;
  transition: border .1s ease-in-out !important;
  -webkit-transition: border .1s !important;
  border-radius: 3px !important;
  border: 2px solid var(--scout-royal-purple) !important;
}

.scout-qa--highlight * {
  overflow: visible !important;
}

.scout-qa--label-wrap {
  display: flex !important;
  white-space: nowrap !important;
  position: absolute !important;
  left: -2px !important;
  top: -36px !important;
  padding: 0 !important;
  margin: auto !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity .2s ease !important;
  z-index: 9999 !important;
}

.scout-qa--highlight:hover > .scout-qa--label-wrap {
  opacity: 1 !important;
  visibility: visible !important;
}

.scout-qa--label,
.scout-qa--value {
  height: 32px;
  display: flex !important;
  box-sizing: border-box !important;
  align-items: center !important;
  padding: 6px !important;
  color: white !important;
  font-size: 13px !important;
  text-transform: lowercase !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

.scout-qa--label {
  pointer-events: none !important;
  font-family: var(--scout-font-family-code) !important;
  background: var(--scout-royal-purple) !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.scout-qa--value {
  background: var(--scout-periwinkle) !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  font-family: var(--scout-font-family-base) !important;
}

